.header_background {
  background-image: url("../assets/images/2.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%; }
  .header_background__title {
    color: #fff; }

.about_section {
  height: 100vh; }
  .about_section__profile_picture {
    background-position: center;
    background-size: cover;
    height: 550px;
    width: 100%; }
  .about_section__about_me {
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 1px 10px 1px #888888; }

.what_we_do_section {
  margin: 100px 0; }
  .what_we_do_section .cards {
    box-shadow: 0 0 5px 0 #333;
    text-align: left;
    height: 350px;
    border-radius: 10px;
    overflow: auto;
    margin-bottom: 20px;
    transition: all .3s; }
    .what_we_do_section .cards .cards_wrap {
      background-position: center;
      background-size: cover;
      height: 150px;
      width: 100%;
      margin-bottom: 20px; }
    .what_we_do_section .cards__card_image_1 {
      background-image: url("../assets/about_us/small-1.jpg"); }
    .what_we_do_section .cards__card_image_2 {
      background-image: url("../assets/about_us/small-2.jpg"); }
    .what_we_do_section .cards__card_image_3 {
      background-image: url("../assets/about_us/small-3.jpeg"); }
    .what_we_do_section .cards p {
      padding: 10px; }
  .what_we_do_section .cards:hover {
    transform: scale(1.1); }
