.about_section {
  height: 100vh;

  &__profile_picture {
    // background-image: url("../assets/images/profile.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
    width: 100%;
  }

  &__about_me {
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 1px 10px 1px #888888;
  }
}

.what_we_do_section {
  margin: 100px 0;

  .cards {
    box-shadow: 0 0 5px 0 #333;
    // padding: 10px;
    text-align: left;
    height: 350px;
    border-radius: 10px;
    overflow: auto;
    margin-bottom: 20px;
    transition: all .3s;

    .cards_wrap {
      background-position: center;
      background-size: cover;
      height: 150px;
      width: 100%;
      margin-bottom: 20px;
    }

    &__card_image_1 {
      background-image: url("../assets/about_us/small-1.jpg");
    }
    &__card_image_2 {
      background-image: url("../assets/about_us/small-2.jpg");
    }
    &__card_image_3 {
      background-image: url("../assets/about_us/small-3.jpeg");
    }

    p {
      padding: 10px;
    }
  }

  .cards:hover {
    transform: scale(1.1);
  }
}