.custom_navbar {
  border-bottom: 1px solid #a68c59;
  padding: .5rem 3rem !important;
  height: 70px;
  
  .nav-link {
    color: #a68c59 !important;
    font-size: 18px;
    transition: all .3s;
  }

  .nav-link:hover {
    color: #ffb303a9 !important;
  }

  @media(max-width: 991px) {
    padding: .5rem 1rem !important;
  }
}

.nav_title {
  display: none;

  @media(max-width: 991px) {
    display: block;
  }
}

.header_background {
  background-color: #232323;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;


  &__title {
    color: #fff;
  }

  @media(max-width: 767px) {
    height: 100%;
  }
}

.open_sidebar {
  display: none;
  margin-left: auto;
  cursor: pointer;

  &__form {
    list-style-type: none;
    margin: 0;
  }
  &__item {
    height: 2px; 
    width: 30px; 
    background-color: #a68c59; 
    margin-bottom: 5px
  }

  @media(max-width: 991px) {
    display: block;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: #232323;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #a68c59;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ffb303a9;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.landing_page {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: 100vh;
  padding-top: 90px;
  max-width: 1600px;
  width: 100%;

  &__grid_one {
    grid-column: 1 / 4;
    grid-row: 1 / 7;
  }
  &__grid_two {
    grid-column: 5 / 10;
    grid-row: 2 / 4;

    @media(max-width: 988px) {
      grid-column: 1 / 10;
      grid-row: 2 / 3;
    }
  }
  &__grid_three {
    grid-column: 1 / 5;
    grid-row: 8 / 9;

    @media(max-width: 988px) {
      grid-column: 1 / 10;
      grid-row: 3 / 4;
    }
  }
  &__grid_four {
    grid-column: 5 / 10;
    grid-row: 4 / 9;

    @media(max-width: 988px) {
      grid-column: 1 / 10;
    }
  }

  &__bckg_image {
    background-image: url('../assets/images/main_bckg.jpg');
    height: 100%;
    width: 100%;
    background-position: top;
    background-size: cover;

    @media(max-width: 988px) {
      display: none;
    }

    @media(max-height: 882px) {
      background-position: top;
    }

    @media(max-width: 767px) {
      height: 430px;
      background-position: top;
      margin-bottom: 30px;
    }
  }

  @media(max-width: 1600px) {
    margin: 0 50px;
  }

  @media(max-width: 767px) {
    margin: 10px 10px 0 10px;
  }
}